{{> organisms-header }}
<main role="main">

	{{> organisms-page-header }}

	<div class="l l--two-col">
		<div class="l-main">
			<section class="section">

				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;Miss Misc. was founded in 2018. I am Miss Miscellaneous or Miss Misc. for short. I have a wide array of likes which is reflected in what I enjoy creating. I guarantee your satisfaction with my products. If you are not satisfied you can ship it back and I will ship your new item no extra charge. I have always worried about ordering things online and have it not be what I expected, but can't send it back since it isn't damaged.
				</p>
			
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;I enjoy creating so much in fact that I have to make myself only work Monday through Friday 9:00 to 9:00. You can contact me at any time for ordering and custom work, but if you contact me on the weekends I will begin working on your order the Monday after the weekend.
				</p>

				<p>
					Feel free to contact me at any time!
				</p>

				{{# form }}

				<hr />

				{{> organisms-stacked-form }}
				{{/ form }}
			</section>
		</div><!--end .l-main-->

		<div class="l-sidebar">
			<h2>Featured Products</h2>
			{{> organisms-section-media-list }}
			
		</div><!--end .l-sidebar-->

	</div><!--end l--two-col-->

</main>
{{> organisms-footer }}
